@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

.spaceDiv {
	height: 100px
}

body {
	background-image: linear-gradient(45deg, #7175da, #9790F2);
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}



.course {
	background: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	padding-top: 20px;

}

.course:hover {
	background: #97A5CE;
	cursor: pointer;
}

.course h4 {
	width: 102px;
	height: 16px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 16px;

	display: flex;
	align-items: center;
	color: #003B60;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {

	color: rgb(11, 9, 4);
	padding: 30px;
	max-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding-left: 200px;
	position: relative;
	width: 100%;
}


.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	box-sizing: border-box;

	width: 376.28px;
	height: 0px;
	left: calc(50% - 376.28px/2 - 105.86px);
	top: calc(50% - 0px/2 - 425.92px);

	border: 11.9077px solid #E5E5E5;
	border-radius: 4.76308px;

}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	width: 38px;
	height: 21.97px;
	left: calc(50% - 38px/2 - 106px);
	top: calc(50% - 21.97px/2 - 455.04px);

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 21px;
	color: #003B60;

}

.spaceDivWidth {
	width: 150px;
}

.progressDiv {
	text-align: center;
	left: 30%;
	margin-top: 5%;

}

.dateBar {

	color: rgb(16, 14, 12);
	max-width: 250px;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

#privacy {
	width: 188.91px;
	height: 18px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #003B60;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#privacyTag {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #585961;
	flex: none;
	order: 0;
	flex-grow: 0;

}



#taskDate {

	display: flex;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	width: 200px;
	font-size: 16px;
	line-height: 18px;
	color: #003B60;
	flex: none;
	order: 0;
	flex-grow: 0;
}

#humborgerMenu {
	border-radius: 50%;
	width: 30px;
	top: 130px;
	cursor: pointer;
	margin-left: 95%;
	;
}

#humborgerMenu:hover {
	width: 35px;
}

.edivMenuDiv {
	display: flex;
	top: 0%;
	position: absolute;
}

#deleteLink {
	z-index: 999;
	padding-left: 10px;
	color: blue;
	font-size: 15px;
	cursor: pointer;
}

#deleteLink:hover {
	font-size: 18px;
	color: #001F61;
}

/* resposable section in the note */
.responsible {
	position: absolute;
	left: 60%;
}

.employeeImg {
	border-radius: 50%;
	width: 40px;
	margin-top: -8px;

}

.employeeNameTag {

	width: 19.12px;
	height: 10.93px;
	left: 8.41px;
	top: 44.75px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 13.1439px;
	line-height: 11px;
	text-align: center;
	color: #003B60;

}

.hadderTag {

	width: 77px;
	height: 16px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 16px;
	display: flex;
	align-items: center;
	color: #585961;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-top: 50%;
}

.taskMenu {
	width: 40px;
	height: 40px;
	margin-top: 50px;
	z-index: 999;
	
	cursor: pointer;
}

.taskMenu:hover {
	z-index: 999;
	width: 45px;
	height: 45px;
}

.AddKeyResult {
	opacity: 2;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	width: max-content;
	text-align: center;
	align-items: center;
	color: orange;
}

#plusIcon {

	width: 30px;
	height: 30px;
	margin-top: 9px;
	color: #FFB636;
}

.plusButton {
	display: flex;
}

#plusIcon:hover {
	width: 32px;
	height: 32px;
}

.AddKeyResult:hover {
	font-size: 19px;
}

#dateTag {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 16px;

	display: flex;
	align-items: center;
	color: #585961;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.privacySection {
	position: absolute;
	margin-top: 8px;
	margin-left: 80px;
}

hr {
	position: absolute;
	width: 80%;
	text-align: center;
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	color: gray;
}