nav {
    justify-content: left;

    display: flex;
    align-items: center;
}
#navBar{
    position: relative;
    background-color: white;
    height: 50px;
    margin-top: -9px;
    width: 100%;
    left:0%;
}
nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;

    margin: 0 10px;
}

#logo {
    justify-content: left;
    border-radius: 10px;
    height: 50px;
}

#okr {
    align-items: center;
    position: absolute;
    left: 50%;
}