#cover-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  }

.headerPopUp {
  border: 1px solid #ccc;
  background: fixed;
  background: rgb(190, 190, 226);
  border-radius: 10px;
  background-color: rgba(201, 211, 231, 0.2);
  height: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  form {
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px #ccc;
    opacity: 0.9;
  }

  .hadderPopUp{
left: 50%;
margin-bottom: -20px;
  }
.notActive{
  visibility: hidden;
}
.activeAlert{
  position: relative;
 margin-top: 50px;
  background-color: palevioletred;
  font-size: 15px;
  font-weight: 700;
}
#spaceDiv{
  
  width: 300px;
 margin-bottom: 40px;
  align-content: center;
  position: relative;
 top: 10%;
 align-items: center;
 text-align: center;
 height: 80px;
 padding-top: 0%;
}
#type-here {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  font-size: 13px;
  text-align: left;
  justify-content: center;
  top: 15%;
  border-radius: 8px;
  border: 1px solid gray;
  border: none;
  background-color: antiquewhite;

}

select {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

button[type="submit"] {
  background: linear-gradient(to right, rgb(255, 165, 0), rgb(128, 0, 128));
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 50px;
}
button[type="button"]{
  margin-left: 50px;
  border-radius: 5px;
  color: yellowgreen;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border: none;
  background:none;
}

button[type="submit"]:hover {
  font-size: 18px;
}
button[type="button"]:hover {
  font-size: 18px;
}
.ButtonSection{
    display: flex;
}
.imagIcon{
    border-radius: 50%;
    width: 25px;
}
.hadderIcon{
  border-radius: 50%;
  width: 40px;
}
/* drop down list for users */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    width: fit-content;
    text-align: left;
    position: relative;
  }
  .dropdown-btn:after{
    outline: none;
    content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%) rotate(45deg);
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: blue;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .MyDatePicker {
    cursor: pointer;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    outline: none;
  }
