<nav [ngClass]="blurredClass">
    <!-- the select Department element -->
    <div [ngClass]="'selctDiv'">
        <p [ngClass]="'inputTag'">Department</p>
        <select [ngClass]="'departmentSelection'">
            <option *ngFor="let department of departmentValues">{{department}}</option>
        </select>
    </div>

    <!-- the date slect element -->


    <div [ngClass]="'selctDiv'">
        <p [ngClass]="'inputTag'">Start Time:</p>
        <input type="date" class="MyDatePicker">
    </div>

    <div>

        <a (click)="coverAction()" [ngClass]="'addObjective'">Add objective<img src="..\assets\plus.png"
                id="plusIcon" /></a>
    </div>
    <img id="homeImage" src="..\assets\homeImg.png" />

    <div *ngFor="let u of users">
        <h1>{{u.userName}}</h1>
    </div>
</nav>



<div *ngIf="showCover" id="cover-window">
    <div id="content">
        <form>
            <h1 class="hadderPopUp">New Task</h1>
            <input id="type-here" type="text" placeholder="Type here">
            <br><br>
            <select>
                <option value="">Select an option</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
            <br><br>
            <div class="dropdown">
             
               <p>User :</p> <button class="dropdown-btn">{{selectedUser? selectedUser.userName: "Select an option"}}</button>
                <div class="dropdown-content">
                  <a *ngFor="let user of users" [id]="user.id" (click)="setSelectedUser(user)"> 
                    {{user.userName}} <img class="imagIcon" [src]="user.userImgUrl"/>
                </a>
                </div>
              </div>
            <br><br>
            <select>
                <option value="">Select an option</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
            <br><br>
            <div class="ButtonSection">
                <button type="button" (click)="coverAction()" >Cancel</button>
                <button type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>