<nav [ngClass]="blurredClass">
    <!-- the select Department element -->
    <div [ngClass]="'selctDiv'">
        <p [ngClass]="'inputTag'">Department</p>
        <select [ngClass]="'departmentSelection'" (change)="onSelectPrivacy($event)" #selectValue>
            <option value="all">All</option>
            <option *ngFor="let department of departmentValues">{{department}}</option>
        </select>
    </div>

    <!-- the date slect element -->


    <div [ngClass]="'selctDiv'">
        <p [ngClass]="'inputTag'">From Date:</p>
        <input type="date" class="MyDatePicker" (change)="filterByDate(selectedDate)" #selectedDate>
        <p [ngClass]="'inputTag'">To Date:</p>
        <input type="date" class="MyDatePicker" (change)="filterByFinishDate(finishDate)" #finishDate>
    </div>

    <div>

        <a (click)="coverAction()" [ngClass]="'addObjective'">Add objective<img src="..\assets\plus.png"
                id="plusIcon" /></a>
    </div>
    <img *ngIf="!allTasks" id="homeImage" src="..\assets\homeImg.png" />
</nav>

<app-tasks-show [allTasks]="filterTasks"></app-tasks-show>

<div *ngIf="showCover" id="cover-window">
   <app-make-new-task [selectedUser]="selectedUser" [users]="users" (unshowPopUp)="coverAction()"  (setSelectedUser)="setSelectedUser($event)" (submitFormEvent)="SubmitForm($event)"></app-make-new-task>
</div>